In [460]:
import pandas as pd
import re
import numpy as np
from sklearn.model_selection import train_test_split

In [461]:
df = pd.read_csv("house_prices.csv")
df.shape

(187531, 21)

In [462]:
df.head(20)

,Index,Title,Description,Amount(in rupees),Price (in rupees),location,Carpet Area,Status,Floor,Transaction,...,facing,overlooking,Society,Bathroom,Balcony,Car Parking,Ownership,Super Area,Dimensions,Plot Area
0,0,1 BHK Ready to Occupy Flat for sale in Srushti...,"Bhiwandi, Thane has an attractive 1 BHK Flat f...",42 Lac,6000.0,thane,500 sqft,Ready to Move,10 out of 11,Resale,...,NaN,NaN,Srushti Siddhi Mangal Murti Complex,1,2,NaN,NaN,NaN,NaN,NaN
1,1,2 BHK Ready to Occupy Flat for sale in Dosti V...,One can find this stunning 2 BHK flat for sale...,98 Lac,13799.0,thane,473 sqft,Ready to Move,3 out of 22,Resale,...,East,Garden/Park,Dosti Vihar,2,NaN,1 Open,Freehold,NaN,NaN,NaN
2,2,2 BHK Ready to Occupy Flat for sale in Sunrise...,Up for immediate sale is a 2 BHK apartment in ...,1.40 Cr,17500.0,thane,779 sqft,Ready to Move,10 out of 29,Resale,...,East,Garden/Park,Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,NaN,NaN,NaN
3,3,1 BHK Ready to Occupy Flat for sale Kasheli,This beautiful 1 BHK Flat is available for sal...,25 Lac,NaN,thane,530 sqft,Ready to Move,1 out of 3,Resale,...,NaN,NaN,NaN,1,1,NaN,NaN,NaN,NaN,NaN
4,4,2 BHK Ready to Occupy Flat for sale in TenX Ha...,"This lovely 2 BHK Flat in Pokhran Road, Thane ...",1.60 Cr,18824.0,thane,635 sqft,Ready to Move,20 out of 42,Resale,...,West,"Garden/Park, Main Road",TenX Habitat Raymond Realty,2,NaN,1 Covered,Co-operative Society,NaN,NaN,NaN
5,5,1 BHK Ready to Occupy Flat for sale in Virat A...,Creatively planned and constructed is a 1 BHK ...,45 Lac,6618.0,thane,NaN,Ready to Move,2 out of 7,Resale,...,East,"Garden/Park, Main Road",Virat Aangan,1,1,NaN,Co-operative Society,680 sqft,NaN,NaN
6,6,1 BHK Ready to Occupy Flat for sale Mumbra,This magnificent 1 BHK Flat is available for s...,16.5 Lac,2538.0,thane,550 sqft,Ready to Move,4 out of 5,Resale,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
7,7,1 BHK Ready to Occupy Flat for sale Kalwa,Creatively planned and constructed is a 1 BHK ...,60 Lac,10435.0,thane,NaN,Ready to Move,Ground out of 7,Resale,...,NaN,NaN,NaN,1,NaN,NaN,NaN,575 sqft,NaN,NaN
8,8,1 BHK Ready to Occupy Flat for sale Kalwa,Discover this immaculate 1 BHK flat for sale a...,60 Lac,10000.0,thane,NaN,Ready to Move,Ground out of 2,Resale,...,NaN,NaN,NaN,1,NaN,NaN,Co-operative Society,600 sqft,NaN,NaN
9,9,3 BHK Ready to Occupy Flat for sale in Pride P...,One can find this stunning 3 BHK flat for sale...,1.60 Cr,11150.0,thane,900 sqft,Ready to Move,3 out of 27,Resale,...,East,Garden/Park,Pride Palms,3,1,1 Covered,Freehold,NaN,NaN,NaN
10,10,3 BHK Ready to Occupy Flat for sale in Cosmos ...,Up for immediate sale is a 3 BHK apartment in ...,1.40 Cr,12174.0,thane,950 sqft,Ready to Move,6 out of 20,Resale,...,NaN,Main Road,Cosmos Lounge,2,NaN,1 Open,Co-operative Society,NaN,NaN,NaN
11,11,2 BHK Ready to Occupy Flat for sale in Regency...,"2 BHK, Multistorey Apartment is available for ...",1.36 Cr,11674.0,thane,NaN,Ready to Move,16 out of 24,Resale,...,NaN,NaN,Regency Heights,2,NaN,NaN,NaN,1165 sqft,NaN,NaN
12,12,2 BHK Ready to Occupy Flat for sale in Regency...,"2 BHK, Multistorey Apartment is available for ...",1.35 Cr,15995.0,thane,NaN,Ready to Move,8 out of 20,Resale,...,NaN,NaN,Regency Heights,2,NaN,NaN,NaN,844 sqft,NaN,NaN
13,13,4 BHK Ready to Occupy Flat for sale Hiranandan...,Creatively planned and constructed is a 4 BHK ...,4.25 Cr,17526.0,thane,1820 sqft,Ready to Move,18 out of 27,Resale,...,East,Garden/Park,NaN,4,1,2 Covered,Freehold,NaN,NaN,NaN
14,14,1 BHK Ready to Occupy Flat for sale Rabodi,Discover this immaculate 1 BHK flat for sale a...,75 Lac,11538.0,thane,NaN,Ready to Move,2 out of 3,Resale,...,NaN,NaN,NaN,1,NaN,NaN,NaN,650 sqft,NaN,NaN
15,15,2 BHK Ready to Occupy Flat for sale in Puranik...,"Kasarvadavali, Thane has an appealing 2 BHK fl...",90 Lac,10000.0,thane,675 sqft,Ready to Move,10 out of 16,New Property,...,North - East,"Garden/Park, Main Road",Puraniks Tokyo Bay,2,1,1 Covered,Freehold,NaN,NaN,NaN
16,16,1 BHK Ready to Occupy Flat for sale in Green W...,Have a look at this immaculate 1 BHK flat for ...,37 Lac,5736.0,thane,647 sqft,Ready to Move,5 out of 7,New Property,...,East,Garden/Park,Green Woods,1,2,NaN,Freehold,NaN,NaN,NaN
17,17,1 BHK Ready to Occupy Flat for sale Dombivli West,This magnificent 1 BHK Flat is available for s...,35 Lac,6481.0,thane,NaN,Ready to Move,4 out of 5,Resale,...,NaN,NaN,NaN,1,NaN,NaN,NaN,540 sqft,NaN,NaN
18,18,2 BHK Ready to Occupy Flat for sale in Everest...,Discover this immaculate 2 BHK flat for sale a...,90 Lac,11250.0,thane,600 sqft,Ready to Move,20 out of 28,Resale,...,North - East,"Pool, Garden/Park, Main Road",Everest World Lavender,2,NaN,66 Covered,Co-operative Society,NaN,NaN,NaN
19,19,1 BHK Ready to Occupy Flat for sale Shahad,"This lovely 1 BHK Flat in Shahad, Thane is up ...",35 Lac,6731.0,thane,NaN,Ready to Move,3 out of 3,Resale,...,NaN,NaN,NaN,1,1,1 Open,NaN,520 sqft,NaN,NaN

In [463]:
df.drop(['Index', 'Description', 'Society'], inplace=True, axis=1)

In [464]:
df.isna().sum()

Title                     0
Amount(in rupees)         0
Price (in rupees)     17665
location                  0
Carpet Area           80673
Status                  615
Floor                  7077
Transaction              83
Furnishing             2897
facing                70233
overlooking           81436
Bathroom                828
Balcony               48935
Car Parking          103357
Ownership             65517
Super Area           107685
Dimensions           187531
Plot Area            187531
dtype: int64

In [465]:
df.drop(['Plot Area', 'Dimensions'], inplace=True, axis=1)
df.dropna(subset=['Bathroom','Floor', 'Price (in rupees)'], inplace=True)

In [466]:
df.head(20)

,Title,Amount(in rupees),Price (in rupees),location,Carpet Area,Status,Floor,Transaction,Furnishing,facing,overlooking,Bathroom,Balcony,Car Parking,Ownership,Super Area
0,1 BHK Ready to Occupy Flat for sale in Srushti...,42 Lac,6000.0,thane,500 sqft,Ready to Move,10 out of 11,Resale,Unfurnished,NaN,NaN,1,2,NaN,NaN,NaN
1,2 BHK Ready to Occupy Flat for sale in Dosti V...,98 Lac,13799.0,thane,473 sqft,Ready to Move,3 out of 22,Resale,Semi-Furnished,East,Garden/Park,2,NaN,1 Open,Freehold,NaN
2,2 BHK Ready to Occupy Flat for sale in Sunrise...,1.40 Cr,17500.0,thane,779 sqft,Ready to Move,10 out of 29,Resale,Unfurnished,East,Garden/Park,2,NaN,1 Covered,Freehold,NaN
4,2 BHK Ready to Occupy Flat for sale in TenX Ha...,1.60 Cr,18824.0,thane,635 sqft,Ready to Move,20 out of 42,Resale,Unfurnished,West,"Garden/Park, Main Road",2,NaN,1 Covered,Co-operative Society,NaN
5,1 BHK Ready to Occupy Flat for sale in Virat A...,45 Lac,6618.0,thane,NaN,Ready to Move,2 out of 7,Resale,Unfurnished,East,"Garden/Park, Main Road",1,1,NaN,Co-operative Society,680 sqft
6,1 BHK Ready to Occupy Flat for sale Mumbra,16.5 Lac,2538.0,thane,550 sqft,Ready to Move,4 out of 5,Resale,Unfurnished,NaN,NaN,1,NaN,NaN,NaN,NaN
7,1 BHK Ready to Occupy Flat for sale Kalwa,60 Lac,10435.0,thane,NaN,Ready to Move,Ground out of 7,Resale,Furnished,NaN,NaN,1,NaN,NaN,NaN,575 sqft
8,1 BHK Ready to Occupy Flat for sale Kalwa,60 Lac,10000.0,thane,NaN,Ready to Move,Ground out of 2,Resale,Furnished,NaN,NaN,1,NaN,NaN,Co-operative Society,600 sqft
9,3 BHK Ready to Occupy Flat for sale in Pride P...,1.60 Cr,11150.0,thane,900 sqft,Ready to Move,3 out of 27,Resale,Unfurnished,East,Garden/Park,3,1,1 Covered,Freehold,NaN
10,3 BHK Ready to Occupy Flat for sale in Cosmos ...,1.40 Cr,12174.0,thane,950 sqft,Ready to Move,6 out of 20,Resale,Semi-Furnished,NaN,Main Road,2,NaN,1 Open,Co-operative Society,NaN
11,2 BHK Ready to Occupy Flat for sale in Regency...,1.36 Cr,11674.0,thane,NaN,Ready to Move,16 out of 24,Resale,Semi-Furnished,NaN,NaN,2,NaN,NaN,NaN,1165 sqft
12,2 BHK Ready to Occupy Flat for sale in Regency...,1.35 Cr,15995.0,thane,NaN,Ready to Move,8 out of 20,Resale,Semi-Furnished,NaN,NaN,2,NaN,NaN,NaN,844 sqft
13,4 BHK Ready to Occupy Flat for sale Hiranandan...,4.25 Cr,17526.0,thane,1820 sqft,Ready to Move,18 out of 27,Resale,Semi-Furnished,East,Garden/Park,4,1,2 Covered,Freehold,NaN
14,1 BHK Ready to Occupy Flat for sale Rabodi,75 Lac,11538.0,thane,NaN,Ready to Move,2 out of 3,Resale,Furnished,NaN,NaN,1,NaN,NaN,NaN,650 sqft
15,2 BHK Ready to Occupy Flat for sale in Puranik...,90 Lac,10000.0,thane,675 sqft,Ready to Move,10 out of 16,New Property,Unfurnished,North - East,"Garden/Park, Main Road",2,1,1 Covered,Freehold,NaN
16,1 BHK Ready to Occupy Flat for sale in Green W...,37 Lac,5736.0,thane,647 sqft,Ready to Move,5 out of 7,New Property,Unfurnished,East,Garden/Park,1,2,NaN,Freehold,NaN
17,1 BHK Ready to Occupy Flat for sale Dombivli West,35 Lac,6481.0,thane,NaN,Ready to Move,4 out of 5,Resale,Unfurnished,NaN,NaN,1,NaN,NaN,NaN,540 sqft
18,2 BHK Ready to Occupy Flat for sale in Everest...,90 Lac,11250.0,thane,600 sqft,Ready to Move,20 out of 28,Resale,Unfurnished,North - East,"Pool, Garden/Park, Main Road",2,NaN,66 Covered,Co-operative Society,NaN
19,1 BHK Ready to Occupy Flat for sale Shahad,35 Lac,6731.0,thane,NaN,Ready to Move,3 out of 3,Resale,Semi-Furnished,NaN,NaN,1,1,1 Open,NaN,520 sqft
20,1 BHK Ready to Occupy Flat for sale in Pride R...,54 Lac,8571.0,thane,430 sqft,Ready to Move,3 out of 7,Resale,Semi-Furnished,East,Garden/Park,1,NaN,1 Open,Freehold,NaN

In [467]:
df['Status'].value_counts()

Status
Ready to Move    162429
Name: count, dtype: int64

In [468]:
df.drop(['Status', 'Transaction', 'Amount(in rupees)'], inplace=True, axis=1)

In [469]:
df.isna().sum()

Title                    0
Price (in rupees)        0
location                 0
Carpet Area          71441
Floor                    0
Furnishing            1341
facing               56818
overlooking          66391
Bathroom                 0
Balcony              39611
Car Parking          88483
Ownership            54407
Super Area           91513
dtype: int64

In [470]:
df['Balcony'] = df['Balcony'].fillna(0)
df['Car Parking'] = df['Car Parking'].fillna(0)
df['Bathroom'] = df['Bathroom'].fillna(0)

In [471]:
df.isna().sum()

Title                    0
Price (in rupees)        0
location                 0
Carpet Area          71441
Floor                    0
Furnishing            1341
facing               56818
overlooking          66391
Bathroom                 0
Balcony                  0
Car Parking              0
Ownership            54407
Super Area           91513
dtype: int64

In [472]:
df.head(20)

,Title,Price (in rupees),location,Carpet Area,Floor,Furnishing,facing,overlooking,Bathroom,Balcony,Car Parking,Ownership,Super Area
0,1 BHK Ready to Occupy Flat for sale in Srushti...,6000.0,thane,500 sqft,10 out of 11,Unfurnished,NaN,NaN,1,2,0,NaN,NaN
1,2 BHK Ready to Occupy Flat for sale in Dosti V...,13799.0,thane,473 sqft,3 out of 22,Semi-Furnished,East,Garden/Park,2,0,1 Open,Freehold,NaN
2,2 BHK Ready to Occupy Flat for sale in Sunrise...,17500.0,thane,779 sqft,10 out of 29,Unfurnished,East,Garden/Park,2,0,1 Covered,Freehold,NaN
4,2 BHK Ready to Occupy Flat for sale in TenX Ha...,18824.0,thane,635 sqft,20 out of 42,Unfurnished,West,"Garden/Park, Main Road",2,0,1 Covered,Co-operative Society,NaN
5,1 BHK Ready to Occupy Flat for sale in Virat A...,6618.0,thane,NaN,2 out of 7,Unfurnished,East,"Garden/Park, Main Road",1,1,0,Co-operative Society,680 sqft
6,1 BHK Ready to Occupy Flat for sale Mumbra,2538.0,thane,550 sqft,4 out of 5,Unfurnished,NaN,NaN,1,0,0,NaN,NaN
7,1 BHK Ready to Occupy Flat for sale Kalwa,10435.0,thane,NaN,Ground out of 7,Furnished,NaN,NaN,1,0,0,NaN,575 sqft
8,1 BHK Ready to Occupy Flat for sale Kalwa,10000.0,thane,NaN,Ground out of 2,Furnished,NaN,NaN,1,0,0,Co-operative Society,600 sqft
9,3 BHK Ready to Occupy Flat for sale in Pride P...,11150.0,thane,900 sqft,3 out of 27,Unfurnished,East,Garden/Park,3,1,1 Covered,Freehold,NaN
10,3 BHK Ready to Occupy Flat for sale in Cosmos ...,12174.0,thane,950 sqft,6 out of 20,Semi-Furnished,NaN,Main Road,2,0,1 Open,Co-operative Society,NaN
11,2 BHK Ready to Occupy Flat for sale in Regency...,11674.0,thane,NaN,16 out of 24,Semi-Furnished,NaN,NaN,2,0,0,NaN,1165 sqft
12,2 BHK Ready to Occupy Flat for sale in Regency...,15995.0,thane,NaN,8 out of 20,Semi-Furnished,NaN,NaN,2,0,0,NaN,844 sqft
13,4 BHK Ready to Occupy Flat for sale Hiranandan...,17526.0,thane,1820 sqft,18 out of 27,Semi-Furnished,East,Garden/Park,4,1,2 Covered,Freehold,NaN
14,1 BHK Ready to Occupy Flat for sale Rabodi,11538.0,thane,NaN,2 out of 3,Furnished,NaN,NaN,1,0,0,NaN,650 sqft
15,2 BHK Ready to Occupy Flat for sale in Puranik...,10000.0,thane,675 sqft,10 out of 16,Unfurnished,North - East,"Garden/Park, Main Road",2,1,1 Covered,Freehold,NaN
16,1 BHK Ready to Occupy Flat for sale in Green W...,5736.0,thane,647 sqft,5 out of 7,Unfurnished,East,Garden/Park,1,2,0,Freehold,NaN
17,1 BHK Ready to Occupy Flat for sale Dombivli West,6481.0,thane,NaN,4 out of 5,Unfurnished,NaN,NaN,1,0,0,NaN,540 sqft
18,2 BHK Ready to Occupy Flat for sale in Everest...,11250.0,thane,600 sqft,20 out of 28,Unfurnished,North - East,"Pool, Garden/Park, Main Road",2,0,66 Covered,Co-operative Society,NaN
19,1 BHK Ready to Occupy Flat for sale Shahad,6731.0,thane,NaN,3 out of 3,Semi-Furnished,NaN,NaN,1,1,1 Open,NaN,520 sqft
20,1 BHK Ready to Occupy Flat for sale in Pride R...,8571.0,thane,430 sqft,3 out of 7,Semi-Furnished,East,Garden/Park,1,0,1 Open,Freehold,NaN

In [473]:
a=["Carpet Area", "location","Floor","Furnishing","facing","overlooking","Bathroom","Balcony","Car Parking","Ownership"]
for cat in a :
    print(f"{cat}:\n{df[cat].unique()}\n")

Carpet Area:
['500 sqft' '473 sqft' '779 sqft' ... '1709 sqft' '164 sqyrd' '136 sqft']

location:
['thane' 'navi-mumbai' 'nagpur' 'mumbai' 'ahmedabad' 'bangalore' 'chennai'
 'gurgaon' 'hyderabad' 'indore' 'jaipur' 'kolkata' 'lucknow' 'new-delhi'
 'noida' 'pune' 'agra' 'ahmadnagar' 'allahabad' 'aurangabad' 'badlapur'
 'belgaum' 'bhiwadi' 'bhiwandi' 'bhopal' 'bhubaneswar' 'chandigarh'
 'coimbatore' 'dehradun' 'durgapur' 'ernakulam' 'faridabad' 'ghaziabad'
 'goa' 'greater-noida' 'guntur' 'guwahati' 'gwalior' 'haridwar' 'jabalpur'
 'jamshedpur' 'jodhpur' 'kalyan' 'kanpur' 'kochi' 'kozhikode' 'ludhiana'
 'madurai' 'mangalore' 'mohali' 'mysore' 'nashik' 'navsari' 'nellore'
 'palakkad' 'palghar' 'panchkula' 'patna' 'pondicherry' 'raipur'
 'rajahmundry' 'ranchi' 'satara' 'shimla' 'siliguri' 'solapur' 'sonipat'
 'surat' 'thrissur' 'tirupati' 'trichy' 'trivandrum' 'udaipur' 'udupi'
 'vadodara' 'vapi' 'varanasi' 'vijayawada' 'visakhapatnam' 'vrindavan'
 'zirakpur']

Floor:
['10 out of 11' '3 out of 22' '10 out of 29' '20 out of 42' '2 out of 7'
 '4 out of 5' 'Ground out of 7' 'Ground out of 2' '3 out of 27'
 '6 out of 20' '16 out of 24' '8 out of 20' '18 out of 27' '2 out of 3'
 '10 out of 16' '5 out of 7' '20 out of 28' '3 out of 3' '3 out of 7'
 '15 out of 31' '2 out of 28' '27 out of 27' '5 out of 5' '3 out of 8'
 '11 out of 17' '9 out of 24' '16 out of 27' '14 out of 29' '12 out of 27'
 '1 out of 27' '2 out of 4' '16 out of 38' '3 out of 4' '2 out of 17'
 '12 out of 28' '3 out of 19' '6 out of 28' '1 out of 4' '7 out of 16'
 '2 out of 2' '1 out of 9' '7 out of 12' '10 out of 10' '4 out of 4'
 '6 out of 7' '14 out of 17' '21 out of 27' '5 out of 8' '7 out of 30'
 '6 out of 18' '14 out of 28' '3 out of 5' '2 out of 24' '1 out of 8'
 '2 out of 16' '7 out of 7' '1 out of 17' '20 out of 32' '10 out of 25'
 '15 out of 17' '8 out of 9' 'Upper Basement out of 9' '8 out of 27'
 '8 out of 19' '2 out of 8' '15 out of 30' '21 out of 26' '5 out of 12'
 '3 out of 18' '5 out of 14' '1 out of 29' '5 out of 16' '3 out of 28'
 '1 out of 5' '29 out of 29' '10 out of 12' '10 out of 30' '13 out of 26'
 'Ground out of 3' '5 out of 28' '2 out of 5' '12 out of 12' '1 out of 6'
 'Ground out of 4' '3 out of 20' '7 out of 15' '6 out of 13' '2 out of 29'
 '4 out of 7' '1 out of 7' '20 out of 35' '13 out of 31' '3 out of 23'
 '19 out of 19' '11 out of 18' '18 out of 30' '10 out of 20' '2 out of 19'
 '16 out of 23' '3 out of 30' '8 out of 8' '17 out of 27' '5 out of 6'
 '11 out of 26' '12 out of 30' '4 out of 6' '1 out of 1' '10 out of 14'
 '14 out of 32' '15 out of 32' '6 out of 29' '28 out of 32' '6 out of 8'
 '12 out of 21' '14 out of 22' '30 out of 36' '23 out of 32'
 '25 out of 30' '12 out of 22' '26 out of 27' '9 out of 19' '4 out of 24'
 '7 out of 8' '4 out of 8' '19 out of 30' '12 out of 19' '10 out of 31'
 '3 out of 6' '24 out of 32' '16 out of 22' '19 out of 24' '7 out of 19'
 'Ground out of 5' '14 out of 23' '4 out of 30' '1 out of 14'
 '7 out of 13' '23 out of 35' '17 out of 18' '2 out of 21' '7 out of 31'
 '10 out of 18' '20 out of 26' '14 out of 19' '9 out of 16' '8 out of 18'
 '12 out of 18' '6 out of 21' '8 out of 16' '18 out of 20' '5 out of 11'
 '12 out of 24' '6 out of 16' '1 out of 19' '8 out of 12' '10 out of 28'
 '19 out of 23' '5 out of 17' '16 out of 17' '17 out of 17' '1 out of 2'
 '17 out of 32' '15 out of 15' '19 out of 36' '13 out of 27'
 '21 out of 32' '29 out of 30' '16 out of 28' '22 out of 29'
 '23 out of 24' '4 out of 12' '11 out of 32' '21 out of 24' '16 out of 30'
 '26 out of 30' '25 out of 36' '7 out of 26' '9 out of 29' '11 out of 29'
 '8 out of 15' '12 out of 25' '16 out of 32' '7 out of 18' '5 out of 18'
 '5 out of 13' '14 out of 30' '4 out of 18' '7 out of 14' '9 out of 10'
 '14 out of 27' '14 out of 16' '9 out of 12' '10 out of 19' '4 out of 23'
 '16 out of 16' '14 out of 26' '9 out of 17' '8 out of 23' '4 out of 17'
 '5 out of 21' '19 out of 20' '4 out of 20' '6 out of 15' '20 out of 29'
 '6 out of 30' '7 out of 9' '4 out of 16' '2 out of 6' '21 out of 45'
 '16 out of 19' '6 out of 12' '19 out of 26' '22 out of 25' '2 out of 10'
 '16 out of 26' '13 out of 20' '15 out of 27' '9 out of 22' '9 out of 18'
 '3 out of 11' '4 out of 15' '1 out of 3' '3 out of 12' '18 out of 23'
 '10 out of 13' '2 out of 12' '18 out of 28' 'Ground out of 1'
 '2 out of 15' 'Ground out of 6' '17 out of 30' '21 out of 28'
 '25 out of 27' '8 out of 30' '15 out of 18' '7 out of 11' '11 out of 28'
 '5 out of 9' '20 out of 36' '5 out of 27' '7 out of 22' '6 out of 22'
 '4 out of 22' '4 out of 26' '1 out of 13' '9 out of 15' '15 out of 20'
 '13 out of 30' '12 out of 23' '28 out of 30' '10 out of 22' '6 out of 27'
 '24 out of 26' '25 out of 32' '16 out of 18' '9 out of 20' '10 out of 27'
 '15 out of 16' '9 out of 14' '23 out of 27' '27 out of 36' '17 out of 25'
 '23 out of 28' '12 out of 31' '32 out of 36' '1 out of 26' '25 out of 29'
 '12 out of 33' '1 out of 12' '10 out of 26' '3 out of 16' '17 out of 19'
 '2 out of 27' '13 out of 42' '27 out of 31' '2 out of 14' '7 out of 17'
 '11 out of 25' '15 out of 28' '13 out of 16' '5 out of 30' '5 out of 33'
 '17 out of 29' '11 out of 24' '13 out of 24' '18 out of 24'
 '13 out of 25' '2 out of 9' 'Ground out of 28' '9 out of 11'
 '1 out of 16' '8 out of 25' '14 out of 20' '5 out of 22' '2 out of 20'
 '10 out of 24' '8 out of 28' '10 out of 36' '2 out of 11' '22 out of 33'
 '8 out of 17' '2 out of 18' '13 out of 14' '3 out of 31' '30 out of 32'
 '11 out of 19' '19 out of 31' '4 out of 36' '13 out of 34' '6 out of 37'
 '11 out of 27' '8 out of 36' '11 out of 36' '3 out of 15' '6 out of 14'
 '6 out of 17' '22 out of 24' '13 out of 32' '9 out of 23' '8 out of 11'
 '12 out of 29' '4 out of 27' '2 out of 23' '9 out of 21' '8 out of 14'
 '11 out of 20' '21 out of 23' '15 out of 19' '22 out of 30'
 '25 out of 28' '9 out of 13' '20 out of 30' '19 out of 28' '16 out of 21'
 '30 out of 34' '24 out of 28' '2 out of 31' '12 out of 13' '24 out of 25'
 '2 out of 22' '27 out of 28' '18 out of 29' '8 out of 26' '16 out of 29'
 '16 out of 20' '17 out of 20' '13 out of 13' 'Ground out of 14'
 '12 out of 14' '5 out of 15' '9 out of 38' '18 out of 38' '33 out of 36'
 '15 out of 23' '3 out of 13' '11 out of 22' '6 out of 6' '7 out of 33'
 '20 out of 39' '4 out of 13' '9 out of 25' '1 out of 15' '5 out of 23'
 '9 out of 26' '9 out of 34' '5 out of 34' '20 out of 38' '7 out of 34'
 '10 out of 34' 'Lower Basement out of 7' '10 out of 15' '11 out of 16'
 '8 out of 13' '11 out of 14' '14 out of 15' '3 out of 21' '24 out of 29'
 '13 out of 17' '14 out of 14' '2 out of 40' '18 out of 26' '17 out of 21'
 '3 out of 25' '20 out of 31' 'Upper Basement out of 7' '15 out of 22'
 '20 out of 27' '1 out of 18' '9 out of 9' 'Upper Basement out of 4'
 '22 out of 27' '25 out of 34' '11 out of 13' '10 out of 17'
 '19 out of 32' '9 out of 28' 'Upper Basement out of 8' '11 out of 15'
 'Lower Basement out of 6' '3 out of 14' '2 out of 13' '4 out of 9'
 '5 out of 10' '1 out of 10' '7 out of 10' '6 out of 10' '13 out of 15'
 '1 out of 88' '4 out of 11' '23 out of 30' '8 out of 55' '10 out of 32'
 '40 out of 51' '7 out of 27' '8 out of 22' '1 out of 23' '7 out of 21'
 '35 out of 44' '20 out of 40' '24 out of 33' '4 out of 19' '10 out of 23'
 '8 out of 10' '14 out of 24' '25 out of 55' '40 out of 60' '20 out of 20'
 '20 out of 22' '4 out of 21' '40 out of 54' '5 out of 20' '13 out of 36'
 '18 out of 18' '21 out of 36' '9 out of 27' '12 out of 20' '28 out of 60'
 '28 out of 31' '19 out of 27' '6 out of 9' '26 out of 35' '17 out of 58'
 '10 out of 21' '12 out of 15' 'Ground out of 12' '22 out of 40'
 '14 out of 21' '21 out of 25' '15 out of 36' '23 out of 40'
 '12 out of 16' '20 out of 23' 'Upper Basement out of 10' '23 out of 68'
 '25 out of 67' '25 out of 41' '11 out of 21' '12 out of 40'
 '20 out of 56' '42 out of 60' '17 out of 60' '30 out of 30'
 '63 out of 63' '38 out of 67' '21 out of 30' '34 out of 91' '7 out of 32'
 '17 out of 52' '28 out of 28' '60 out of 60' '6 out of 26' '17 out of 45'
 '18 out of 21' '19 out of 42' '31 out of 38' '27 out of 47'
 '17 out of 24' '31 out of 41' '19 out of 22' 'Ground out of 8'
 '21 out of 21' '11 out of 40' '2 out of 30' '20 out of 48' '14 out of 18'
 '19 out of 21' '16 out of 36' '18 out of 39' '37 out of 38'
 '20 out of 21' '25 out of 37' '11 out of 60' '23 out of 34' '4 out of 10'
 '5 out of 55' '20 out of 60' '8 out of 21' '75 out of 91' '18 out of 41'
 '13 out of 22' '33 out of 40' '18 out of 34' '34 out of 36'
 '26 out of 36' '70 out of 85' '60 out of 78' '4 out of 14' '21 out of 37'
 '7 out of 20' '39 out of 42' '18 out of 22' '29 out of 38' '9 out of 30'
 '15 out of 40' '17 out of 37' 'Upper Basement out of 22' '12 out of 35'
 '11 out of 23' '14 out of 35' '29 out of 36' '15 out of 21' '7 out of 54'
 '14 out of 39' '15 out of 45' '44 out of 91' '32 out of 42'
 '16 out of 44' '16 out of 40' '30 out of 37' '35 out of 77'
 '25 out of 45' '18 out of 35' '29 out of 34' '40 out of 40' '3 out of 10'
 '27 out of 54' '5 out of 29' '32 out of 44' '6 out of 40' '2 out of 25'
 '16 out of 43' '30 out of 43' '34 out of 43' '35 out of 43'
 '12 out of 43' '7 out of 25' '11 out of 30' '28 out of 56' '46 out of 55'
 '19 out of 35' '25 out of 40' '18 out of 42' '6 out of 34' '3 out of 9'
 '16 out of 41' '11 out of 38' '15 out of 38' '15 out of 35'
 '13 out of 23' '22 out of 22' '28 out of 50' '17 out of 22'
 '24 out of 52' '5 out of 35' '13 out of 28' 'Upper Basement out of 15'
 '22 out of 35' '13 out of 54' '6 out of 25' '36 out of 54' '21 out of 39'
 '20 out of 25' '59 out of 75' '11 out of 12' '21 out of 29'
 '45 out of 76' '11 out of 51' '12 out of 55' '16 out of 63'
 '23 out of 41' '13 out of 41' '24 out of 39' '16 out of 39'
 '12 out of 52' '27 out of 40' '51 out of 78' '30 out of 44'
 '12 out of 17' '21 out of 38' '4 out of 40' '32 out of 61' '4 out of 32'
 '30 out of 40' '28 out of 42' '32 out of 68' '9 out of 60' '18 out of 25'
 'Lower Basement out of 12' '11 out of 11' 'Lower Basement out of 8'
 '1 out of 11' 'Lower Basement out of 14' 'Upper Basement out of 14'
 'Lower Basement out of 3' '6 out of 11' 'Lower Basement out of 13'
 'Lower Basement out of 5' '19 out of 25' '3 out of 17'
 'Lower Basement out of 11' 'Ground out of 10' 'Ground out of 13'
 '7 out of 23' 'Upper Basement out of 3' '5 out of 19' '13 out of 18'
 '21 out of 22' 'Ground' '3 out of 60' '6 out of 23' 'Ground out of 11'
 'Upper Basement out of 5' '1 out of 20' '12 out of 32' '31 out of 31'
 '19 out of 40' '23 out of 23' '25 out of 26' 'Lower Basement out of 4'
 '27 out of 32' 'Ground out of 9' '18 out of 19' 'Ground out of 20'
 '12 out of 37' '6 out of 19' '10 out of 35' '8 out of 24' '9 out of 32'
 '14 out of 37' '27 out of 30' '1 out of 33' 'Ground out of 15'
 '15 out of 37' '25 out of 31' '13 out of 21' 'Ground out of 21'
 '5 out of 25' '18 out of 32' '17 out of 26' '27 out of 34' '1 out of 21'
 '4' '2 out of 50' '19 out of 29' '29 out of 32' 'Ground out of 19'
 'Upper Basement out of 16' '5 out of 32' '1 out of 31' '2 out of 32'
 '22 out of 32' '29 out of 35' '13 out of 19' '16 out of 25'
 '17 out of 23' '2 out of 34' '4 out of 29' '1 out of 22'
 'Ground out of 18' '30 out of 31' 'Upper Basement out of 18'
 'Ground out of 40' 'Upper Basement out of 12' '1 out of 25'
 'Ground out of 32' '25 out of 25' '15 out of 34' '15 out of 24'
 '22 out of 23' '17 out of 31' '31 out of 32' 'Ground out of 16'
 '24 out of 27' '24 out of 30' '9 out of 35' '22 out of 26' '22 out of 34'
 '3 out of 26' '30 out of 33' '25 out of 44' '5 out of 26' '8 out of 29'
 '9 out of 40' '24 out of 40' '1 out of 28' '32 out of 32' '7 out of 28'
 '29 out of 45' 'Upper Basement out of 11' '31 out of 35' '1'
 '16 out of 45' 'Upper Basement out of 6' 'Upper Basement out of 2'
 'Ground out of 17' '26 out of 29' 'Lower Basement out of 1'
 '26 out of 45' 'Lower Basement out of 2' '35 out of 35' '27 out of 29'
 '20 out of 24' '12 out of 36' '3 out of 42' '3' '22 out of 28'
 '28 out of 40' '10 out of 40' 'Lower Basement out of 29' '11 out of 33'
 '12 out of 34' '4 out of 38' '15 out of 51' '2 out of 26' '10 out of 42'
 '8 out of 38' '24 out of 38' '16 out of 35' '4 out of 28' '12 out of 26'
 '4 out of 42' '23 out of 25' '20 out of 43' '4 out of 25' '20 out of 33'
 '17 out of 51' '6 out of 32' '18 out of 33' '3 out of 32' '10 out of 38'
 '14 out of 43' 'Ground out of 30' '8 out of 31' '14 out of 25'
 '30 out of 35' '23 out of 36' '14 out of 34' '17 out of 33'
 'Lower Basement out of 10' '34 out of 42' '8 out of 35' '6 out of 42'
 '7 out of 40' '2 out of 38' '23 out of 33' '19 out of 33' '8 out of 32'
 '4 out of 34' '13 out of 35' '1 out of 30' '25 out of 42' '4 out of 39'
 '20 out of 34' '16 out of 31' '35 out of 42' '7 out of 24' '8 out of 42'
 '20 out of 44' '14 out of 36' '9 out of 42' '5 out of 41' '27 out of 38'
 '1 out of 40' '32 out of 35' '28 out of 29' '22 out of 37' '18 out of 44'
 'Lower Basement out of 9' '7 out of 29' '15 out of 25' '5 out of 38'
 '17 out of 35' '14 out of 38' '22 out of 31' '26 out of 40' '6 out of 31'
 '23 out of 38' '28 out of 53' '10 out of 39' '4 out of 37' '26 out of 31'
 '11 out of 31' 'Lower Basement out of 16' '25 out of 35' '7 out of 50'
 '15 out of 29' '24 out of 24' '11 out of 35' 'Upper Basement out of 29'
 '5 out of 40' '5 out of 24' '30 out of 51' '22 out of 36' '19 out of 34'
 '29 out of 33' '24 out of 35' 'Ground out of 24' '19 out of 52'
 '6 out of 24' '14 out of 42' '4 out of 35' '17 out of 34' '39 out of 39'
 '33 out of 39' '3 out of 24' '18 out of 40' '21 out of 35' '15 out of 26'
 '26 out of 33' '21 out of 34' 'Upper Basement out of 17' '26 out of 38'
 '13 out of 40' '31 out of 33' '6 out of 35' 'Lower Basement out of 20'
 '50 out of 50' 'Lower Basement out of 50' '38 out of 40' '1 out of 24'
 'Ground out of 27' '16 out of 34' 'Ground out of 31' '29 out of 51'
 '34 out of 34' 'Upper Basement out of 23' '7 out of 35' '11 out of 34'
 '17 out of 36' '9 out of 33' '2 out of 35' '33 out of 35' '10 out of 45'
 '32 out of 34' '9 out of 45' '23 out of 45' '3 out of 40' '37 out of 46'
 '27 out of 35' '28 out of 33' '27 out of 33' '45 out of 45'
 '42 out of 45' '5 out of 44' '20 out of 41' '20 out of 45' '11 out of 45'
 'Ground out of 33' '42 out of 43' '2' '25 out of 46' '15 out of 42'
 '38 out of 41' '18 out of 45' '26 out of 34' '7 out of 37' '6 out of 36'
 '18 out of 36' '21 out of 43' '28 out of 36' 'Ground out of 25'
 '4 out of 41' '4 out of 2' 'Ground out of 26' '14 out of 31'
 '17 out of 28' '5 out of 31' '18 out of 31' '33 out of 72' '29 out of 44'
 '9 out of 39' '21 out of 31' 'Ground out of 22' '1 out of 35'
 'Ground out of 35' '10 out of 33' '7 out of 76' '11 out of 84'
 'Ground out of 23' '33 out of 44' '24 out of 31' '15 out of 33'
 '32 out of 33' 'Lower Basement out of 23' 'Ground out of 29'
 '3 out of 45' 'Upper Basement out of 13' '38 out of 38' '3 out of 36'
 '26 out of 43' '6' '13' '26 out of 26' '1 out of 34' '26 out of 28'
 '28 out of 39' '4 out of 3' '24 out of 36' '2 out of 67'
 'Upper Basement out of 1' '3 out of 29' '26 out of 32' '12'
 '23 out of 26' 'Upper Basement out of 21' '20' '23 out of 29'
 '25 out of 39' '1 out of 32' 'Lower Basement out of 18'
 'Upper Basement out of 24' '200 out of 200' '33 out of 43' '35 out of 37'
 '7 out of 41' 'Upper Basement out of 20' 'Lower Basement out of 15'
 '2 out of 36' '5 out of 50' '7 out of 70']

Furnishing:
['Unfurnished' 'Semi-Furnished' 'Furnished' nan]

facing:
[nan 'East' 'West' 'North - East' 'North' 'North - West' 'South'
 'South -West' 'South - East']

overlooking:
[nan 'Garden/Park' 'Garden/Park, Main Road' 'Main Road'
 'Pool, Garden/Park, Main Road' 'Garden/Park, Pool, Main Road'
 'Garden/Park, Pool' 'Main Road, Garden/Park'
 'Main Road, Garden/Park, Pool' 'Pool, Garden/Park'
 'Garden/Park, Main Road, Pool' 'Pool' 'Pool, Main Road'
 'Main Road, Pool, Garden/Park' 'Pool, Main Road, Garden/Park'
 'Main Road, Not Available' 'Main Road, Pool' 'Garden/Park, Not Available'
 'Pool, Main Road, Not Available']

Bathroom:
['1' '2' '3' '4' '6' '5' '9' '8' '> 10' '7' '10']

Balcony:
['2' 0 '1' '3' '4' '6' '5' '7' '> 10' '10' '8' '9']

Car Parking:
[0 '1 Open' '1 Covered' '2 Covered' '66 Covered' '701 Covered' '3 Covered'
 '1 Covered,' '35 Open' '4 Open' '323 Covered' '11 Covered' '103 Open'
 '203 Covered' '2 Open' '180 Covered' '14 Open' '50 Open' '10 Covered'
 '15 Open' '5 Open' '4 Covered' '509 Covered,' '101 Covered' '4 Covered,'
 '6 Covered,' '3 Covered,' '123 Covered' '505 Covered' '402 Covered'
 '8 Covered' '6 Covered' '5 Covered' '2 Covered,' '103 Covered'
 '12 Covered,' '202 Open' '202 Covered' '20 Covered,' '503 Open'
 '401 Covered' '3 Open' '501 Covered' '10 Covered,' '147 Covered'
 '20 Covered' '310 Covered' '302 Covered' '442 Covered' '23 Covered'
 '201 Covered,' '8 Open' '112 Covered' '706 Covered' '107 Covered'
 '250 Covered' '217 Covered' '12 Covered' '536 Covered' '601 Covered'
 '7 Covered' '15 Covered' '10 Open' '403 Open' '53 Open' '24 Covered'
 '33 Covered' '12 Open' '20 Open' '500 Open' '89 Open' '5 Covered,'
 '604 Covered' '87 Covered' '903 Covered' '704 Covered' '30 Covered,'
 '39 Covered' '34 Covered' '306 Covered' '218 Covered' '305 Covered'
 '502 Covered' '406 Open' '102 Covered' '129 Open' '201 Covered'
 '15 Covered,' '76 Covered' '413 Covered' '9 Covered,' '100 Covered'
 '324 Covered' '300 Covered' '21 Covered,' '25 Covered' '118 Open'
 '818 Open' '113 Open' '411 Covered' '9 Covered' '17 Covered'
 '999 Covered' '42 Covered' '118 Covered' '571 Open' '253 Covered'
 '51 Covered' '212 Open' '204 Covered' '259 Covered' '210 Open'
 '22 Covered' '256 Covered' '50 Covered' '703 Covered' '507 Covered'
 '605 Covered' '801 Covered' '205 Open' '40 Covered' '151 Open'
 '301 Covered' '30 Covered' '804 Open' '16 Covered,' '102 Open'
 '7 Covered,' '9 Open' '45 Open' '30 Open' '200 Open' '47 Open' '67 Open'
 '78 Covered' '109 Covered' '504 Open' '222 Covered' '23 Open' '204 Open'
 '303 Covered' '18 Covered' '17 Open' '156 Covered' '835 Covered'
 '60 Open' '45 Covered' '13 Covered,' '13 Open' '27 Covered,' '98 Covered'
 '6 Open' '23 Covered,' '22 Open' '21 Covered' '908 Covered' '506 Covered'
 '111 Covered' '234 Covered' '129 Covered' '59 Covered' '506 Open'
 '901 Covered' '420 Covered' '14 Covered' '60 Covered' '38 Covered'
 '90 Covered,' '13 Covered' '604 Open' '18 Open' '196 Open' '32 Open'
 '211 Covered' '110 Open' '100 Open' '302 Open' '174 Open' '80 Covered'
 '408 Covered' '40 Covered,' '305 Open' '233 Open' '35 Covered,'
 '35 Covered' '24 Open' '406 Covered' '48 Covered' '16 Covered'
 '108 Covered' '70 Open' '31 Covered' '110 Covered' '404 Covered' '7 Open'
 '303 Open' '101 Open' '304 Covered' '207 Covered' '206 Covered'
 '416 Covered' '205 Covered' '300 Open' '11 Covered,' '123 Open'
 '702 Open']

Ownership:
[nan 'Freehold' 'Co-operative Society' 'Power Of Attorney' 'Leasehold']

In [474]:
def clean_area(col):
    return pd.to_numeric(col.astype(str).str.replace("sqft", "", regex=False).str.strip(), errors='coerce')

df['Carpet Area'] = clean_area(df['Carpet Area'])
df['Super Area'] = clean_area(df['Super Area'])

In [475]:
for col in ['Bathroom', 'Balcony']:
    df[col] = df[col].astype(str).replace(['> 10', '>10'], '11')
    df[col] = pd.to_numeric(df[col], errors='coerce').fillna(0)

In [476]:
df.head(20)

,Title,Price (in rupees),location,Carpet Area,Floor,Furnishing,facing,overlooking,Bathroom,Balcony,Car Parking,Ownership,Super Area
0,1 BHK Ready to Occupy Flat for sale in Srushti...,6000.0,thane,500.0,10 out of 11,Unfurnished,NaN,NaN,1,2,0,NaN,NaN
1,2 BHK Ready to Occupy Flat for sale in Dosti V...,13799.0,thane,473.0,3 out of 22,Semi-Furnished,East,Garden/Park,2,0,1 Open,Freehold,NaN
2,2 BHK Ready to Occupy Flat for sale in Sunrise...,17500.0,thane,779.0,10 out of 29,Unfurnished,East,Garden/Park,2,0,1 Covered,Freehold,NaN
4,2 BHK Ready to Occupy Flat for sale in TenX Ha...,18824.0,thane,635.0,20 out of 42,Unfurnished,West,"Garden/Park, Main Road",2,0,1 Covered,Co-operative Society,NaN
5,1 BHK Ready to Occupy Flat for sale in Virat A...,6618.0,thane,NaN,2 out of 7,Unfurnished,East,"Garden/Park, Main Road",1,1,0,Co-operative Society,680.0
6,1 BHK Ready to Occupy Flat for sale Mumbra,2538.0,thane,550.0,4 out of 5,Unfurnished,NaN,NaN,1,0,0,NaN,NaN
7,1 BHK Ready to Occupy Flat for sale Kalwa,10435.0,thane,NaN,Ground out of 7,Furnished,NaN,NaN,1,0,0,NaN,575.0
8,1 BHK Ready to Occupy Flat for sale Kalwa,10000.0,thane,NaN,Ground out of 2,Furnished,NaN,NaN,1,0,0,Co-operative Society,600.0
9,3 BHK Ready to Occupy Flat for sale in Pride P...,11150.0,thane,900.0,3 out of 27,Unfurnished,East,Garden/Park,3,1,1 Covered,Freehold,NaN
10,3 BHK Ready to Occupy Flat for sale in Cosmos ...,12174.0,thane,950.0,6 out of 20,Semi-Furnished,NaN,Main Road,2,0,1 Open,Co-operative Society,NaN
11,2 BHK Ready to Occupy Flat for sale in Regency...,11674.0,thane,NaN,16 out of 24,Semi-Furnished,NaN,NaN,2,0,0,NaN,1165.0
12,2 BHK Ready to Occupy Flat for sale in Regency...,15995.0,thane,NaN,8 out of 20,Semi-Furnished,NaN,NaN,2,0,0,NaN,844.0
13,4 BHK Ready to Occupy Flat for sale Hiranandan...,17526.0,thane,1820.0,18 out of 27,Semi-Furnished,East,Garden/Park,4,1,2 Covered,Freehold,NaN
14,1 BHK Ready to Occupy Flat for sale Rabodi,11538.0,thane,NaN,2 out of 3,Furnished,NaN,NaN,1,0,0,NaN,650.0
15,2 BHK Ready to Occupy Flat for sale in Puranik...,10000.0,thane,675.0,10 out of 16,Unfurnished,North - East,"Garden/Park, Main Road",2,1,1 Covered,Freehold,NaN
16,1 BHK Ready to Occupy Flat for sale in Green W...,5736.0,thane,647.0,5 out of 7,Unfurnished,East,Garden/Park,1,2,0,Freehold,NaN
17,1 BHK Ready to Occupy Flat for sale Dombivli West,6481.0,thane,NaN,4 out of 5,Unfurnished,NaN,NaN,1,0,0,NaN,540.0
18,2 BHK Ready to Occupy Flat for sale in Everest...,11250.0,thane,600.0,20 out of 28,Unfurnished,North - East,"Pool, Garden/Park, Main Road",2,0,66 Covered,Co-operative Society,NaN
19,1 BHK Ready to Occupy Flat for sale Shahad,6731.0,thane,NaN,3 out of 3,Semi-Furnished,NaN,NaN,1,1,1 Open,NaN,520.0
20,1 BHK Ready to Occupy Flat for sale in Pride R...,8571.0,thane,430.0,3 out of 7,Semi-Furnished,East,Garden/Park,1,0,1 Open,Freehold,NaN

In [477]:
def convert_parking(value):
    if pd.isna(value):
        return 0
    value_str = str(value)
    num_match = re.search(r'(\d+)', value_str)
    number = float(num_match.group(1)) if num_match else 0
    return number * 1.3 if 'Covered' in value_str else number

df['Car Parking'] = df['Car Parking'].apply(convert_parking)

In [478]:
def extract_floor_info(value):
    if pd.isna(value):
        return (np.nan, np.nan)
    value = str(value)
    match = re.search(r'(\d+)\s*out of\s*(\d+)', value)
    if match:
        return (int(match.group(1)), int(match.group(2)))
    elif 'Ground' in value:
        match2 = re.search(r'out of\s*(\d+)', value)
        return (0, int(match2.group(1)) if match2 else np.nan)
    elif 'Upper Basement' in value:
        match2 = re.search(r'out of\s*(\d+)', value)
        return (-1, int(match2.group(1)) if match2 else np.nan)
    elif 'Lower Basement' in value:
        match2 = re.search(r'out of\s*(\d+)', value)
        return (-2, int(match2.group(1)) if match2 else np.nan)
    else:
        return (np.nan, np.nan)

df[['CurrentFloor', 'TotalFloors']] = df['Floor'].apply(lambda x: pd.Series(extract_floor_info(x)))
df.drop(columns=['Floor'], inplace=True)

In [479]:
a=["Furnishing","Super Area","Bathroom","Balcony","Car Parking", "CurrentFloor", "TotalFloors"]
for cat in a :
    print(f"{cat}:\n{df[cat].unique()}\n")

Furnishing:
['Unfurnished' 'Semi-Furnished' 'Furnished' nan]

Super Area:
[  nan  680.  575. ... 2332. 2555.  709.]

Bathroom:
[ 1  2  3  4  6  5  9  8 11  7 10]

Balcony:
[ 2  0  1  3  4  6  5  7 11 10  8  9]

Car Parking:
[0.0000e+00 1.0000e+00 1.3000e+00 2.6000e+00 8.5800e+01 9.1130e+02
 3.9000e+00 3.5000e+01 4.0000e+00 4.1990e+02 1.4300e+01 1.0300e+02
 2.6390e+02 2.0000e+00 2.3400e+02 1.4000e+01 5.0000e+01 1.3000e+01
 1.5000e+01 5.0000e+00 5.2000e+00 6.6170e+02 1.3130e+02 7.8000e+00
 1.5990e+02 6.5650e+02 5.2260e+02 1.0400e+01 6.5000e+00 1.3390e+02
 1.5600e+01 2.0200e+02 2.6260e+02 2.6000e+01 5.0300e+02 5.2130e+02
 3.0000e+00 6.5130e+02 1.9110e+02 4.0300e+02 3.9260e+02 5.7460e+02
 2.9900e+01 2.6130e+02 8.0000e+00 1.4560e+02 9.1780e+02 1.3910e+02
 3.2500e+02 2.8210e+02 6.9680e+02 7.8130e+02 9.1000e+00 1.9500e+01
 1.0000e+01 5.3000e+01 3.1200e+01 4.2900e+01 1.2000e+01 2.0000e+01
 5.0000e+02 8.9000e+01 7.8520e+02 1.1310e+02 1.1739e+03 9.1520e+02
 3.9000e+01 5.0700e+01 4.4200e+01 3.9780e+02 2.8340e+02 3.9650e+02
 6.5260e+02 4.0600e+02 1.3260e+02 1.2900e+02 9.8800e+01 5.3690e+02
 1.1700e+01 1.3000e+02 4.2120e+02 3.9000e+02 2.7300e+01 3.2500e+01
 1.1800e+02 8.1800e+02 1.1300e+02 5.3430e+02 2.2100e+01 1.2987e+03
 5.4600e+01 1.5340e+02 5.7100e+02 3.2890e+02 6.6300e+01 2.1200e+02
 2.6520e+02 3.3670e+02 2.1000e+02 2.8600e+01 3.3280e+02 6.5000e+01
 9.1390e+02 6.5910e+02 7.8650e+02 1.0413e+03 2.0500e+02 5.2000e+01
 1.5100e+02 3.9130e+02 8.0400e+02 2.0800e+01 1.0200e+02 9.0000e+00
 4.5000e+01 3.0000e+01 2.0000e+02 4.7000e+01 6.7000e+01 1.0140e+02
 1.4170e+02 5.0400e+02 2.8860e+02 2.3000e+01 2.0400e+02 3.9390e+02
 2.3400e+01 1.7000e+01 2.0280e+02 1.0855e+03 6.0000e+01 5.8500e+01
 1.6900e+01 3.5100e+01 1.2740e+02 6.0000e+00 2.2000e+01 1.1804e+03
 6.5780e+02 1.4430e+02 3.0420e+02 1.6770e+02 7.6700e+01 5.0600e+02
 1.1713e+03 5.4600e+02 1.8200e+01 7.8000e+01 4.9400e+01 1.1700e+02
 6.0400e+02 1.8000e+01 1.9600e+02 3.2000e+01 2.7430e+02 1.1000e+02
 1.0000e+02 3.0200e+02 1.7400e+02 1.0400e+02 5.3040e+02 3.0500e+02
 2.3300e+02 4.5500e+01 2.4000e+01 5.2780e+02 6.2400e+01 1.4040e+02
 7.0000e+01 4.0300e+01 1.4300e+02 5.2520e+02 7.0000e+00 3.0300e+02
 1.0100e+02 3.9520e+02 2.6910e+02 2.6780e+02 5.4080e+02 2.6650e+02
 3.0000e+02 1.2300e+02 7.0200e+02]

CurrentFloor:
[ 10.   3.  20.   2.   4.   0.   6.  16.   8.  18.   5.  15.  27.  11.
   9.  14.  12.   1.   7.  21.  -1.  29.  13.  19.  17.  28.  30.  23.
  25.  26.  24.  22.  32.  33.  -2.  40.  35.  42.  63.  38.  34.  60.
  31.  37.  75.  70.  39.  44.  46.  36.  59.  45.  51.  nan  50. 200.]

TotalFloors:
[ 11.  22.  29.  42.   7.   5.   2.  27.  20.  24.   3.  16.  28.  31.
   8.  17.   4.  38.  19.   9.  12.  10.  30.  18.  32.  25.  26.  14.
   6.  15.  13.  35.  23.   1.  21.  36.  45.  33.  34.  37.  39.  40.
  88.  55.  51.  44.  60.  54.  58.  68.  67.  41.  56.  63.  91.  52.
  47.  48.  85.  78.  77.  43.  50.  75.  76.  61.  nan  53.  46.  72.
  84. 200.  70.]

In [480]:
mapping = {
    'Unfurnished': 0,
    'Semi-Furnished': 1,
    'Furnished': 2
}

df['Furnishing'] = df['Furnishing'].fillna('Unfurnished').map(mapping)

In [481]:
df['overlooking'] = df['overlooking'].fillna('Not Available')
df = df.join(df['overlooking'].str.get_dummies(sep=', ').add_prefix('overlooking_'))
df.drop(columns=['overlooking'], inplace=True)

In [482]:
df['facing'] = df['facing'].fillna('Not Available')
df = df.join(df['facing'].str.get_dummies(sep=', ').add_prefix('facing_'))
df.drop(columns=['facing'], inplace=True)

In [483]:
df['Ownership'] = df['Ownership'].fillna('Not Available')
df = df.join(df['Ownership'].str.get_dummies(sep=', ').add_prefix('Ownership_'))
df.drop(columns=['Ownership'], inplace=True)

In [484]:
df['Bedroom'] = df['Title'].str.extract(r'(\d+)\s*BHK', expand=False)
df['Bedroom'] = pd.to_numeric(df['Bedroom'], errors='coerce')
df.drop(['Title'], inplace=True, axis=1)

In [485]:
loc_freq = df['location'].value_counts(normalize=True)
df['location_encoded'] = df['location'].map(loc_freq)
df.drop(columns=['location'], inplace=True)

In [486]:
df['Super Area'] = df['Super Area'].fillna(0)

In [487]:
df.head(20)

,Price (in rupees),Carpet Area,Furnishing,Bathroom,Balcony,Car Parking,Super Area,CurrentFloor,TotalFloors,overlooking_Garden/Park,...,facing_South - East,facing_South -West,facing_West,Ownership_Co-operative Society,Ownership_Freehold,Ownership_Leasehold,Ownership_Not Available,Ownership_Power Of Attorney,Bedroom,location_encoded
0,6000.0,500.0,0,1,2,0.0,0.0,10.0,11.0,0,...,0,0,0,0,0,0,1,0,1.0,0.010672
1,13799.0,473.0,1,2,0,1.0,0.0,3.0,22.0,1,...,0,0,0,0,1,0,0,0,2.0,0.010672
2,17500.0,779.0,0,2,0,1.3,0.0,10.0,29.0,1,...,0,0,0,0,1,0,0,0,2.0,0.010672
4,18824.0,635.0,0,2,0,1.3,0.0,20.0,42.0,1,...,0,0,1,1,0,0,0,0,2.0,0.010672
5,6618.0,NaN,0,1,1,0.0,680.0,2.0,7.0,1,...,0,0,0,1,0,0,0,0,1.0,0.010672
6,2538.0,550.0,0,1,0,0.0,0.0,4.0,5.0,0,...,0,0,0,0,0,0,1,0,1.0,0.010672
7,10435.0,NaN,2,1,0,0.0,575.0,0.0,7.0,0,...,0,0,0,0,0,0,1,0,1.0,0.010672
8,10000.0,NaN,2,1,0,0.0,600.0,0.0,2.0,0,...,0,0,0,1,0,0,0,0,1.0,0.010672
9,11150.0,900.0,0,3,1,1.3,0.0,3.0,27.0,1,...,0,0,0,0,1,0,0,0,3.0,0.010672
10,12174.0,950.0,1,2,0,1.0,0.0,6.0,20.0,0,...,0,0,0,1,0,0,0,0,3.0,0.010672
11,11674.0,NaN,1,2,0,0.0,1165.0,16.0,24.0,0,...,0,0,0,0,0,0,1,0,2.0,0.010672
12,15995.0,NaN,1,2,0,0.0,844.0,8.0,20.0,0,...,0,0,0,0,0,0,1,0,2.0,0.010672
13,17526.0,1820.0,1,4,1,2.6,0.0,18.0,27.0,1,...,0,0,0,0,1,0,0,0,4.0,0.010672
14,11538.0,NaN,2,1,0,0.0,650.0,2.0,3.0,0,...,0,0,0,0,0,0,1,0,1.0,0.010672
15,10000.0,675.0,0,2,1,1.3,0.0,10.0,16.0,1,...,0,0,0,0,1,0,0,0,2.0,0.010672
16,5736.0,647.0,0,1,2,0.0,0.0,5.0,7.0,1,...,0,0,0,0,1,0,0,0,1.0,0.010672
17,6481.0,NaN,0,1,0,0.0,540.0,4.0,5.0,0,...,0,0,0,0,0,0,1,0,1.0,0.010672
18,11250.0,600.0,0,2,0,85.8,0.0,20.0,28.0,1,...,0,0,0,1,0,0,0,0,2.0,0.010672
19,6731.0,NaN,1,1,1,1.0,520.0,3.0,3.0,0,...,0,0,0,0,0,0,1,0,1.0,0.010672
20,8571.0,430.0,1,1,0,1.0,0.0,3.0,7.0,1,...,0,0,0,0,1,0,0,0,1.0,0.010672

In [488]:
a=["Super Area", "location_encoded", "Bedroom"]
for cat in a :
    print(f"{cat}:\n{df[cat].unique()}\n")

Super Area:
[   0.  680.  575. ... 2332. 2555.  709.]

location_encoded:
[1.06717233e-02 3.82316482e-03 3.52246646e-03 9.73280803e-03
 7.21982891e-02 1.36768659e-01 5.27694932e-02 1.07852523e-01
 5.46043669e-02 7.17994035e-04 4.45463137e-02 1.11503860e-01
 4.67002958e-03 1.52306786e-01 7.41313500e-03 1.26231943e-02
 2.46695386e-03 1.71827632e-04 9.69598782e-04 2.51604747e-03
 2.10488850e-03 3.31381862e-04 6.13056445e-03 4.54115885e-04
 6.25943518e-04 2.20307571e-03 8.30909336e-03 2.93334315e-03
 5.44325392e-03 8.77548265e-04 1.01255569e-03 2.20000736e-02
 5.13028217e-03 5.71326878e-03 2.60993900e-02 1.52190189e-03
 4.08090627e-03 8.83684966e-04 9.20505173e-04 6.56627024e-04
 3.08062398e-03 2.96402666e-03 4.24659720e-03 5.99555703e-03
 3.00698357e-04 8.53001461e-04 1.28870724e-04 2.23375922e-03
 8.57910821e-03 9.75735484e-04 1.16597322e-03 1.47280828e-04
 1.59554230e-04 2.70014851e-03 1.95760767e-03 3.98885575e-03
 1.65690931e-04 2.75537882e-03 4.90936092e-04 5.95260012e-03
 3.25245161e-04 2.26444273e-03 1.77964333e-04 4.38774133e-03
 1.25127337e-02 1.01869239e-03 4.72525989e-04 6.44353621e-04
 1.04937590e-03 3.06835058e-04 1.31509506e-02 8.34591357e-04
 1.43598807e-03 2.98857346e-03 9.58552720e-03 3.49791966e-04
 8.84912307e-03]

Bedroom:
[ 1.  2.  3.  4. nan  6.  5.  8.  7. 10.  9.]

In [489]:
df['CurrentFloor'] = df['CurrentFloor'].fillna(0)
df['TotalFloors'] = df['TotalFloors'].fillna(0)
df['Bedroom'] = df['Bedroom'].fillna(0)

In [490]:
train_df, test_df = train_test_split(df, test_size=0.2, random_state=42)

mean_carpet_per_bedroom = train_df.groupby('Bedroom')['Carpet Area'].mean()

train_df['Carpet Area'] = train_df.apply(
    lambda row: mean_carpet_per_bedroom[row['Bedroom']] if pd.isna(row['Carpet Area']) else row['Carpet Area'],
    axis=1
)

test_df['Carpet Area'] = test_df.apply(
    lambda row: mean_carpet_per_bedroom[row['Bedroom']] if pd.isna(row['Carpet Area']) else row['Carpet Area'],
    axis=1
)

In [495]:
train_df['Carpet Area'] = df['Carpet Area'].fillna(0)
test_df['Carpet Area'] = df['Carpet Area'].fillna(0)

In [496]:
test_df.isna().sum()

Price (in rupees)                 0
Carpet Area                       0
Furnishing                        0
Bathroom                          0
Balcony                           0
Car Parking                       0
Super Area                        0
CurrentFloor                      0
TotalFloors                       0
overlooking_Garden/Park           0
overlooking_Main Road             0
overlooking_Not Available         0
overlooking_Pool                  0
facing_East                       0
facing_North                      0
facing_North - East               0
facing_North - West               0
facing_Not Available              0
facing_South                      0
facing_South - East               0
facing_South -West                0
facing_West                       0
Ownership_Co-operative Society    0
Ownership_Freehold                0
Ownership_Leasehold               0
Ownership_Not Available           0
Ownership_Power Of Attorney       0
Bedroom                           0
location_encoded                  0
dtype: int64

In [497]:
test_df.shape

(32591, 29)

In [498]:
train_df.shape

(130363, 29)

In [501]:
train_df.to_csv("train.csv", index=False)
test_df.to_csv("test.csv", index=False)